{% extends 'base.html.twig' %}

{% block title %}Homepage!{% endblock %}

{% block body %}
    <h1>Welcome to homepage</h1>

    <p>Please register <a href="{{ path('app_register') }}">Register</a></p>
    <p>Or login <a href="{{ path('app_login') }}">Login</a></p>
{% endblock body %}