{% extends 'base.html.twig' %}

{% block title %}Hello TrackController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello runner! ✅</h1>
    <h2> <a href="{{ path('track_new') }}">Add new track</a>✅</h2>

    {% for track in tracks %}
        <p><a href="{{ path('track_view', {'id': track.id}) }}">{{ track.name }}</a></p>
    {% endfor %}
</div>
{% endblock %}
